#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#results-container {
  background-color: antiquewhite;
  margin: 15px 0px;
  padding: 20px 0px;
  border: 10px solid black;
}

#results-container h5 {
  color: black;
}

h5 {
  color: black;
}
